body {
   font-family: 'Roboto', Arial, sans-serif;
}
.paper_title {
  font-style: italic;
}
.paper_date {
  font-weight: bold;  
.text_speech {
  font-style: italic;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 10px;
  padding-top: 10px;
}
